
<div class="form-container animate-fadeinright " data-twe-animation-init data-twe-animation-reset="true" data-twe-animation="[fadeinright_1s_ease-in-out">
  <h1 class="mt-3 font-bold text-center kulim-park-regular">REGISTRO DE RECICLAJE</h1>
  <form (ngSubmit)="onSubmit()">
    <input class="mt-2" [(ngModel)]="user.cedula" name="cedula" placeholder="Cédula" required>
    <input class="mt-2" [(ngModel)]="user.email" name="email" placeholder="Email" required>
    <input class="mt-2" [(ngModel)]="user.nombreCompleto" name="nombreCompleto" placeholder="Nombre completo" required>
    <input class="mt-2" [(ngModel)]="user.telefono" name="telefono" placeholder="Teléfono" required>
    <input class="mt-2" [(ngModel)]="user.nombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario" required>

    <input class="mt-2" [(ngModel)]="user.contrasena" name="contraseña" placeholder="Contraseña" required>
    <button class="button-1 kulim-park-regular mt-2" type="submit">Crear usuario</button>
  </form>
</div>

