<div class="p-3 rounded-md flex flex-row gap-8 animate-fly-in-down ml-0 mt-2 md:ml-20 mx-auto font-bold">
    <img src="./assets/images/kids.png" class="w-10 h-10 ">
    <div> 
        <button  class="kulim-park-regular"  onclick="document.getElementById('inicio').scrollIntoView();">Inicio</button>
    </div>
    <div> 
        <button  class="kulim-park-regular" onclick="document.getElementById('registro').scrollIntoView();">Formulario</button>
    </div>
    <div> 
        <button   class="kulim-park-regular"onclick="document.getElementById('ranking').scrollIntoView();">Ranking</button>
    </div>
    <div> 
        <button   class="kulim-park-regular"onclick="document.getElementById('about').scrollIntoView();">Acerca de Nosotros</button>
    </div>
    
</div>

