<div class="p-6 flex flex-row gap-8 animate-fly-in-down ml-0 md:ml-20 mx-auto font-bold">
    <div> 
        <button onclick="document.getElementById('inicio').scrollIntoView();">Inicio</button>
    </div>
    <div> 
        <button onclick="document.getElementById('registro').scrollIntoView();">Formulario</button>
    </div>
    <div> 
        <button onclick="document.getElementById('ranking').scrollIntoView();">Ranking</button>
    </div>
    <div> 
        <button onclick="document.getElementById('about').scrollIntoView();">Acerca de Nosotros</button>
    </div>
</div>

