<div class="p-6  ml-20 flex flex-row gap-8 animate-fly-in-down">
    <div> 
        <button onclick="document.getElementById('inicio').scrollIntoView();">Inicio</button>
    </div>
    <div> 
        <button onclick="document.getElementById('registro').scrollIntoView();">Formulario</button>
    </div>
    <div> 
        <button onclick="document.getElementById('ranking').scrollIntoView();">Ranking</button>
    </div>
    <div> 
        <button onclick="document.getElementById('about').scrollIntoView();">Acerca de Nosotros</button>
    </div>
</div>

