<div class="p-6 mt-2 animate-fadeindown" data-twe-animation-init data-twe-animation-reset="true" data-twe-animation="[fadeindown_1s_ease-in-out]">
  

    <div class="flex  flex-col text-center ">
        
       
        <div class="">
            <p class="font-extrabold text-9xl rubik-maps-regular txt-title">SE EL </p>
            <p class="font-extrabold text-9xl rubik-maps-regular txt-title">LIDER</p>
        </div>

    <div class="flex flex-row gap-2 justify-center align-middle">
        <p class="text-5xl max-md:text-4xl text-white uppercase braah-one-regular ">del cambio</p>
        <div>
        <button class="button-1  max-md:mt-0">Ir al formulario</button>
    </div>
    </div>
    <!-- <div class="">
        <p class="text-sm text-slate-800 text-opacity-35 italic ">INSTITUTO TECNOLÓGICO SUDAMERICANO</p>
        </div> -->
</div>
</div>