<div class="admin-container">
    <h2>Panel de Administradores</h2>
    <div class="filters">
      <label for="filtroFecha">Filtrar por fecha:</label>
      <input type="date" id="filtroFecha" [(ngModel)]="fechaFiltro" />
      <label for="filtroCantidad">Filtrar por cantidad mínima:</label>
      <input
        type="number"
        id="filtroCantidad"
        [(ngModel)]="cantidadFiltro"
        placeholder="Mínimo de contribuciones"
      />
      <button (click)="aplicarFiltros()">Aplicar Filtros</button>
      <button (click)="resetearFiltros()">Resetear Filtros</button>
    </div>

    <div class="usuarios-lista">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Número de Cédula</th>
            <th>Basuras Votadas</th>
            <th>Última Contribución</th>
          </tr>
        </thead>
        <!--<tbody> -->
        <!--  <tr *ngFor="let usuario of usuariosFiltrados"> -->
        <!--    <td>{{ usuario.nombre }}</td> -->
        <!--    <td>{{ usuario.cedula }}</td> -->
        <!--    <td>{{ usuario.cantidad }}</td> -->
        <!--    <td>{{ usuario.fecha | date: 'shortDate' }}</td> -->
        <!--  </tr> -->
        <!--</tbody> -->
      </table>
    </div>
  </div>
  