<app-navigation></app-navigation>
<div class="mix-blend-lighten .backdrop-blur-2xl bg-page  p-10 ">


    <div id="inicio" class=" flex flex-row w-full gap-40 justify-center py-6 md:flex flex-wrap-reverse">

        

        <div class="mt-0 ">
       <img src="./assets/images/papelera.png" class="size-96 contrast-70 opacity-80  drop-shadow-2xl">
        </div>

        <div class="my-10 ">
            <app-design></app-design>
         </div>
       
    </div>
    <div class=" flex flex-row justify-center gap-40 py-18 mt-10 md:flex flex-wrap sm:flex-wrap ">

        <div class="mt-5 justify-center">
          <app-about></app-about>
        </div>

        <div id="registro">
            <app-registro></app-registro>
        </div>

       
    </div>
    
    
    <div class="mt-20 mb-20" id="ranking">
        <app-ranking></app-ranking>
    </div>
   

</div>
<div class="mt-6 ">
    <app-footer  id="about"></app-footer>
</div>
