<app-navigation></app-navigation>
<div class="mix-blend-lighten  bg-page  p-10 ">
    <div id="inicio" class=" flex flex-row justify-evenly py-6 md:flex flex-wrap-reverse">

        

        <div class="mx-8 justify-center">
       <img src="./assets/images/plata.png" class="w-80 h-80">
        </div>

        <div class="mx-2 justify-center">
            <app-design></app-design>
         </div>
       
    </div>
    <div class=" flex flex-row justify-evenly py-18  md:flex flex-wrap sm:flex-wrap ">

        <div class="p-8 justify-center">
          <app-about></app-about>
        </div>

        <div id="registro">
            <app-registro></app-registro>
        </div>

       
    </div>
    
    
    <div id="ranking" class="mt-4">
        <app-ranking></app-ranking>
    </div>
   
</div>
<app-footer id="about"></app-footer>
