<app-navigation></app-navigation>
<div class="mix-blend-lighten  bg-page  p-10 ">
    <div class=" flex flex-row justify-between py-6">

        <div class="mx-10 justify-center">
           <app-design></app-design>
        </div>

        <div>
       
        </div>

       
    </div>
    <div class=" flex flex-row justify-evenly py-18 md:flex flex-wrap sm:flex-wrap ">

        <div class="p-8 justify-center">
          <app-about></app-about>
        </div>

        <div class="">
            <app-registro></app-registro>
        </div>

       
    </div>
    
    
    <app-ranking></app-ranking>
   
</div>
<app-footer></app-footer>
