<div class="ranking-container">
    <h2 >TOP COLABORADORES</h2>
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr > 
          <td>1</td>
          <td>Dav</td>
          <td>42</td>
        </tr>
        <tr > 
          <td>2</td>
          <td>Issac</td>
          <td>40</td>
        </tr>
        <tr > 
          <td>3</td>
          <td>Adrian</td>
          <td>30</td>
        </tr>
      </tbody>
      <!--<tbody -->
      <!--  <tr *ngFor="let persona of ranking; let i = index"> -->
      <!--    <td>{{ i + 1 }}</td> -->
      <!--    <td>{{ persona.nombre }}</td> -->
      <!--    <td>{{ persona.cantidad }}</td> -->
      <!--  </tr> -->
      <!--</tbody> -->
    </table>
  </div>
  