<div class="ranking-container content-center py-20 my-40 animate-fadeinright">
  <p class="text-3xl font-bold my-10 md:text-5xl txt-title uppercase braah-one-regular">TOP COLABORADORES</p>

  <div class="top-container flex justify-center h-[150px] gap-8 p-5">

    <div class="top-icon w-4/12 " style="position: relative; z-index: 10;">
      <img  src="./assets/images/oro.png" alt="oro">
      <p class="text-center mt-[-32px] font-bold txt-content braah-one-regular">Ana Maria</p>
    </div>
  </div>
  <div class="top-container flex justify-center h-[150px] gap-8 p-0 mt-[-80px]">

    <div class="top-icon w-4/12">
      <img class="" src="./assets/images/plata.png" alt="plata">
      <p class="text-center mt-[-32px] font-bold txt-content braah-one-regular">María López</p>
    </div>
    <div class="top-icon w-4/12">
      <img src="./assets/images/bronce.png" alt="bronce">
      <p class="text-center mt-[-32px] font-bold txt-content braah-one-regular">Carlos García</p>
    </div>
  </div>
</div>
  