<div class="ranking-container content-center mt-10">
  <p class="text-3xl font-bold md:text-5xl">TOP COLABORADORES</p>

  <div class="top-container flex justify-center h-[150px] gap-8 p-5">

    <div class="top-icon w-4/12">
      <img  src="./assets/images/oro.png" alt="oro">
      <p class="text-center mt-[-32px] font-bold">Ana Maria</p>
    </div>
  </div>
  <div class="top-container flex justify-center h-[150px] gap-4 p-0 mt-[-90px]">

    <div class="top-icon w-4/12">
      <img class="" src="./assets/images/plata.png" alt="plata">
      <p class="text-center mt-[-32px] font-bold">María López</p>
    </div>
    <div class="top-icon w-4/12">
      <img src="./assets/images/bronce.png" alt="bronce">
      <p class="text-center mt-[-32px] font-bold">Carlos García</p>
    </div>
  </div>

  <!-- 
  <div class="top-container flex justify-center h-[150px] gap-8 p-8">
    <div *ngFor="let user of ranking" class="top-icon w-21">
      <img src="" alt="">
      <p class="text-center">{{ user.name }}</p>
    </div>
  </div>
  -->
</div>
  