@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-green: #cdd6bc;
    --dark-green: #73762a;
    --light-blue: #91c9f6;
    --dark-blue: #4d6AAA;
    --dark-orange: #4d6AAA;
    --darkest-green: #374c2a;
    --light-color: #e9d9b4;
    --dark-color: #343a40;
    --body-bg: #f8f9fa;
    --text-color: #343a40;
  } 